.box {
  border-style: solid;
  border-width: 3px;
  border-color: white; 
  padding: 6px;
}
.first {
  margin-bottom: 90px;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 1200px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.second {
  margin-bottom: 90px;
  margin-left: 30px;
  margin-top: -93px;
  margin-right: 1200px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.third {
  margin-bottom: 90px;
  margin-left: 30px;
  margin-right: 1200px;
  margin-top: -93px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.fourth {
   margin-bottom: 90px;
  margin-left: 30px;
  margin-right: 1200px;
  margin-top: -93px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.fifth {
  margin-bottom: 90px;
  margin-left: 30px;
  margin-right: 1200px;
  margin-top: -94px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.sixth {
  margin-bottom: 90px;
  margin-left: 57px;
  margin-right: 1200px;
  margin-top: -120px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.seventh {
  margin-bottom: 90px;
  margin-left: 84px;
  margin-right: 1200px;
  margin-top: -120px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.eighth {
  margin-bottom: 90px;
  margin-left: 111px;
  margin-right: 1200px;
  margin-top: -120px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.ninth{
  margin-bottom: 90px;
  margin-left: 138px;
  margin-right: 1200px;
  margin-top: -120px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.tenth{
  margin-bottom: 90px;
  margin-left: 138px;
  margin-right: 1200px;
  margin-top: -147px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.eleventh {
  margin-bottom: 90px;
  margin-left: 138px;
  margin-right: 1200px;
  margin-top: -146px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.twelfth{
  margin-bottom: 90px;
  margin-left: 138px;
  margin-right: 1200px;
  margin-top: -147px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.thirteen{
   margin-bottom: 90px;
  margin-left: 138px;
  margin-right: 1200px;
  margin-top: -147px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.thirteen{
   margin-bottom: 90px;
  margin-left: 138px;
  margin-right: 1200px;
  margin-top: -147px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.fourteen{
  margin-bottom: 90px;
  margin-left: 111px;
  margin-right: 1200px;
  margin-top: -120px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.fifteenth {
  margin-bottom: 90px;
  margin-left: 84px;
  margin-right: 1200px;
  margin-top: -120px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
.sixteenth {
  margin-bottom: 90px;
  margin-left: 57px;
  margin-right: 1200px;
  margin-top: -120px;
  padding: 12px;
  background-color: pink;
  border-style: solid;
  border-width:3px;
  border-color:black;
}
